.about{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://wallpaperaccess.com/full/82108.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 30px;
}