@import '../../app.scss';
.list {
  width: 100%;
  margin: 60px 0px;
  .listTitle {
    color: white;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 60px;
    @include tablet{
      text-align: center;
      margin: 0;
      justify-content: center;
    }
  }

  .container {
    
    margin: 10px 50px;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    transition: all 0.5s ease;
    position: relative;
    @include tablet{
      margin: 5px 15px;
    }

    span{
      color: white;
    }
  }
}