.home {
  .feature {
    // background-color: aqua;
    // background: linear-gradient(0deg, #0b0b0b 80%, transparent);
    background: linear-gradient(to bottom , transparent 0%, rgb(0, 0, 0, 1) 80%);
    z-index: 999;
  }

  .container {
    background-color: var(--main-color);
    overflow: hidden;
  }
}
